<a href="https://colab.research.google.com/github/jiezi2004/hello-world/blob/readme-edits/kaggle_api_in_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Installing the [Kaggle API](https://github.com/Kaggle/kaggle-api) in Colab

In [ ]:
!pip install kaggle

# Authenticating with Kaggle using kaggle.json

Navigate to https://www.kaggle.com. Then go to the [Account tab of your user profile](https://www.kaggle.com/me/account) and select Create API Token. This will trigger the download of kaggle.json, a file containing your API credentials.

Then run the cell below to upload kaggle.json to your Colab runtime.

In [1]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))
  
# Then move kaggle.json into the folder where the API expects to find it.
!mkdir -p ~/.kaggle/ && mv kaggle.json ~/.kaggle/ && chmod 600 ~/.kaggle/kaggle.json

Saving kaggle.json to kaggle.json
User uploaded file "kaggle.json" with length 65 bytes

# Using the Kaggle API

For a more complete list of what you can do with the API, visit https://github.com/Kaggle/kaggle-api.

## Listing competitions

In [2]:
!kaggle competitions list

ref                                            deadline             category            reward  teamCount  userHasEntered
---------------------------------------------  -------------------  ---------------  ---------  ---------  --------------
contradictory-my-dear-watson                   2030-07-01 23:59:00  Getting Started     Prizes         36           False
gan-getting-started                            2030-07-01 23:59:00  Getting Started     Prizes        135           False
store-sales-time-series-forecasting            2030-06-30 23:59:00  Getting Started  Knowledge        640           False
tpu-getting-started                            2030-06-03 23:59:00  Getting Started  Knowledge        125            True
digit-recognizer                               2030-01-01 00:00:00  Getting Started  Knowledge       1679           False
titanic                                        2030-01-01 00:00:00  Getting Started  Knowledge      14000            True
house-prices-advanced-regression-techniques    2030-01-01 00:00:00  Getting Started  Knowledge       4284           False
connectx                                       2030-01-01 00:00:00  Getting Started  Knowledge        212           False
nlp-getting-started                            2030-01-01 00:00:00  Getting Started  Knowledge        978           False
spaceship-titanic                              2030-01-01 00:00:00  Getting Started  Knowledge       2192           False
competitive-data-science-predict-future-sales  2022-12-31 23:59:00  Playground           Kudos      14922           False
amex-default-prediction                        2022-08-24 23:59:00  Featured          $100,000        967            True
feedback-prize-effectiveness                   2022-08-23 23:59:00  Featured           $55,000        237           False
AI4Code                                        2022-08-11 23:59:00  Featured          $150,000        502           False
smartphone-decimeter-2022                      2022-07-29 23:59:00  Research           $10,000        245           False
ubiquant-market-prediction                     2022-07-18 23:59:00  Featured          $100,000       2356           False
uw-madison-gi-tract-image-segmentation         2022-07-14 23:59:00  Research           $25,000       1042           False
kore-2022                                      2022-07-12 23:59:00  Featured           $15,000        322           False
foursquare-location-matching                   2022-07-07 23:59:00  Featured           $25,000        815           False
jpx-tokyo-stock-exchange-prediction            2022-07-05 23:59:00  Featured           $63,000       1515           False

## Downloading a dataset

In [ ]:
kaggle datasets list -s demographics

In [4]:
!kaggle datasets download "center-for-policing-equity/data-science-for-good"

Downloading data-science-for-good.zip to /content
 82% 78.0M/94.7M [00:00<00:00, 140MB/s]
100% 94.7M/94.7M [00:00<00:00, 127MB/s]

In [ ]:
!unzip data-science-for-good.zip

In [ ]:
import pandas as pd 

basepath = "Dept_23-00089/23-00089_ACS_data/23-00089_ACS_race-sex-age/"
rca_df = pd.read_csv(basepath + "ACS_15_5YR_DP05_with_ann.csv")
rca_df.head()

,GEO.id,GEO.id2,GEO.display-label,HC01_VC03,HC02_VC03,HC03_VC03,HC04_VC03,HC01_VC04,HC02_VC04,HC03_VC04,...,HC03_VC108,HC04_VC108,HC01_VC109,HC02_VC109,HC03_VC109,HC04_VC109,HC01_VC110,HC02_VC110,HC03_VC110,HC04_VC110
0,Id,Id2,Geography,Estimate; SEX AND AGE - Total population,Margin of Error; SEX AND AGE - Total population,Percent; SEX AND AGE - Total population,Percent Margin of Error; SEX AND AGE - Total p...,Estimate; SEX AND AGE - Total population - Male,Margin of Error; SEX AND AGE - Total populatio...,Percent; SEX AND AGE - Total population - Male,...,"Percent; CITIZEN, VOTING AGE POPULATION - Citi...","Percent Margin of Error; CITIZEN, VOTING AGE P...","Estimate; CITIZEN, VOTING AGE POPULATION - Cit...","Margin of Error; CITIZEN, VOTING AGE POPULATIO...","Percent; CITIZEN, VOTING AGE POPULATION - Citi...","Percent Margin of Error; CITIZEN, VOTING AGE P...","Estimate; CITIZEN, VOTING AGE POPULATION - Cit...","Margin of Error; CITIZEN, VOTING AGE POPULATIO...","Percent; CITIZEN, VOTING AGE POPULATION - Citi...","Percent Margin of Error; CITIZEN, VOTING AGE P..."
1,1400000US18097310103,18097310103,"Census Tract 3101.03, Marion County, Indiana",6700,435,6700,(X),3167,419,47.3,...,4881,(X),2167,208,44.4,3.3,2714,234,55.6,3.3
2,1400000US18097310104,18097310104,"Census Tract 3101.04, Marion County, Indiana",3309,283,3309,(X),1374,217,41.5,...,2988,(X),1179,194,39.5,6.2,1809,244,60.5,6.2
3,1400000US18097310105,18097310105,"Census Tract 3101.05, Marion County, Indiana",3612,272,3612,(X),1886,186,52.2,...,2546,(X),1280,113,50.3,4.3,1266,158,49.7,4.3
4,1400000US18097310106,18097310106,"Census Tract 3101.06, Marion County, Indiana",3871,489,3871,(X),1802,327,46.6,...,3078,(X),1267,234,41.2,5.6,1811,262,58.8,5.6

In [ ]:
a_df = pd.read_csv(basepath + "ACS_15_5YR_DP05_metadata.csv")
a_df.head()

              GEO.id                                               Id
0            GEO.id2                                              Id2
1  GEO.display-label                                        Geography
2          HC01_VC03         Estimate; SEX AND AGE - Total population
3          HC02_VC03  Margin of Error; SEX AND AGE - Total population
4          HC03_VC03          Percent; SEX AND AGE - Total population

## Uploading a Colab notebook to Kaggle Kernels

Bear with us, as this is a little round-about...

### Downloading a notebook from Colab

To download from Colab, use **File** | **Download .ipynb**

### Then upload the notebook to your Colab runtime

In [ ]:
uploaded = files.upload()
notebook_path = list(uploaded.keys())[0]

In [ ]:
!mkdir -p export
!mv $notebook_path export/
!kaggle kernels init -p export

In [ ]:
import re
your_kaggle_username = 'Your kaggle username'
notebook_title = 'New Kernel'
new_kernel_slug = re.sub(r'[^a-z0-9]+', '-', notebook_title.lower())

In [ ]:
# Documented here: https://github.com/Kaggle/kaggle-api/wiki/Kernel-Metadata
metadata = '''
{
  "id": "%s/%s",
  "title": "%s",
  "code_file": "%s",
  "language": "python",
  "kernel_type": "notebook",
  "is_private": "true",
  "enable_gpu": "false",
  "enable_internet": "true",
  "dataset_sources": [],
  "competition_sources": [],
  "kernel_sources": []
}
''' % (your_kaggle_username, new_kernel_slug, notebook_title, notebook_path)

In [ ]:
!echo '$metadata' > export/kernel-metadata.json
!cat export/kernel-metadata.json

In [ ]:
!kaggle kernels push -p export